
*{
    margin: 0;
    font-family: sans-serif;
}

/* This CSS is for the Home */

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.3),rgba(4,9,30,0.3)),url(./Images/home.png) ;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 0;
}
.sub-header{
    background: #154360;
    max-height: 115px;
    background-size: cover;
    position: relative;
}
.sub-header-1{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.3),rgba(4,9,30,0.3)),url(./Images/resbackground.jpg) ;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 0;
}
nav{
    display: flex;
    padding: 2% 5%;
    justify-content: space-between;
    align-items: center; 
}
nav img{
    width: 230px;
}
.nav-links{
    flex: 1;
    text-align: right;
    padding: 0;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
a{
    text-decoration: none;
    color: white;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #F39C12;
    display: block;
    margin: auto;
    transition: 0.7s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 75%;
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-40%);
    text-align: center;
    font-weight: 700;
}
.text-box h2{
    font-size: 50px;
    font-weight: 400;
    font-stretch: expanded;
    color:white;
    word-spacing: 5px;
    padding-bottom: 10px;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #BA4A00;
    background: #BA4A00;
    transition: 0.8s;
}

/* Mobile for Header Home Page */

@media (max-width:700px) {
    .header{
        min-height: 70vh;
    }
    nav {
        padding: 1% 5%;
        display: flex;
        justify-content: space-between; 
        align-items: center; 
    }

    nav img {
        width: 150px; 
    } 
    
    .nav-links ul {
        text-align: right;
    }

    .nav-links ul li {
        display: block;
        padding: 10px 0; 

    }

    .nav-links ul li::after {
        display: none; 
    }
    .text-box{
        width: 100%;
        padding-top: 105px;
    }
    .text-box h2 {
        font-size: 20px;
        padding-bottom: 5px;
        padding-top: 20px;
    }
    .hero-btn {
        font-size: 10px;
        padding: 10px 20px;
    }
    
}

/* Home Page Introduction */

.introduction{
    width: 60%;
    margin: auto;
    text-align: center;
    padding-top: 25px;
}
img{
    width: 350px;
}
h3{
    padding-top: 10px;
    font-size: 21px;
    word-spacing: 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding-bottom: 15px;
}
p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 50px;
}
/* Mobile Responsive for Introduction */

@media (max-width: 700px){
    h3{
        text-align: center;
        padding-top: 20px;
        font-size: medium;
        margin-bottom: 10px;
        margin-left: -5%;
    }
    img{
        width: 180px;
    }
    .introduction p{
        text-align: left;
        margin-left: -5%;
    }
}
/* This CSS is for the Home - Section 1 - Hotels */

.home-hotels{
    width: 100%;
    padding-top: 20px;
    background:#EAEDED;
    margin: auto;
    text-align: center;
}
h1{
    padding-top: 20px;
    text-align: center;
    text-decoration: underline #F39C12;
    font-weight: 400;
    font-size: 28px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;

}
.row-1{
    display: flex;
    justify-content: space-between;
}
.col-1{
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.8s;
}
.col-1 h3{
    padding-bottom: 2px;
}
.col-1 img{
    max-width: 100%;
    height: 100%;
    margin-bottom: 5px;
    max-height: 50vh;
    border-radius: 8px;
}
.col-1 img:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.737);
}
.col-1 p{
    margin-top: 5px;
    text-align: center;

}

/* Mobile View for the Home Page - Hotels - Section 1 */

@media (max-width:700px){
    .row-1{
        flex-direction: column;
    }
    .col-1 img{
        width: 335px;
        padding: 5px;
    }
}

/* This CSS is for the Home - Section 2 - Things To Do */

.home-things p{
    text-align: center;
    width: 70%;
    margin: auto;
    padding-bottom: 10px;
    justify-content: center;
}

.link-text {
    text-decoration: none;
    color: #F39C12; 
}
.link-text:hover {
    text-decoration: underline;
}
.home-things img{
    border-radius: 8px;
    width: 80%;
    padding-bottom: 10px;
}
.col-2{
    flex: 1;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Mobile View for Home - Things TO Do - Section 2  */

@media (max-width:700px){
    .home-things p {
        width: 90%;
        text-align: left;
    }
    .home-things img {
        width: 90%
    }
    .home-things ul{
        margin-left: -18%;
    }
}

/* This CSS is for the Home - Section 3 - Events*/

.home-events{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: auto;
}

.home-events h3{
    padding-left: 20px;
    background-color: #EAEDED;
    text-align: center;
}
.things-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 50px 0;
}
.things-1 img{
    width: 50%;
    height: auto;
    max-height: 300px;
    padding: 15px;
}
.things-text{
    width: 80%;
    padding-left: 10px;
}
.paragraph-1{
    padding-left: 20px;
    padding-top: 15px;
}
.o-list{
    margin-top: -40px;
}
.o-list li{
    margin-top: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.paragraph-2{
    padding-right: 20px;
    padding-top: 10px;
}
/* Mobile View for Home - Events - Section 3 */

@media (max-width:700px) {
    .home-events h3 {
        padding-left: 0;
        text-align: center;
    }
    .things-1 {
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: 20px 0;
    }
    .things-1 img {
        max-width: 100%;
        height: auto;
        max-height: 300px;
        padding: 15px;
    }
    .things-text {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .paragraph-1,
    .paragraph-2 {
        padding-left: 0;
        padding-right: 0;
        padding-top: 10px;
        text-align: left;
    }
    .o-list {
        margin-top: -10px;
    }
    .o-list li {
        margin-top: 4px;
    }
}

/* This CSS is for the Footer Area */

.footer {
    display: flex; 
    align-items: center;
    background-image: url(./Images/footer.png);
    color: black; 
    padding: 0px;
    padding-top: 20px;
}
.footer-col {
    flex: 1; 
    padding: 20px 0; 
}
.footer-row{
    padding-left: 28%;
}
.footer img {
    max-width: 100%;
    padding-left: 100px;
}
h4{
    margin: 0;
}
.footer p{
    margin:0;
    font-weight: 600;
}
.footer a{
    color:#154360; 
}

/* This is the Mobile View for Footer  */

@media (max-width:700px){
    .footer{
        display: flex;
        flex-direction: column;
    }
    .footer img {
        max-width: 100%;
        padding-left: 0;
        align-items: center;
    }
    .footer-col {
        padding: 10px 0;
    }
    .footer-row {
        padding-left: 5px;
    }
    .footer-row h6,p{
        text-align: center;
        font-size: medium;
    }
} 

/* Our Hotels and Things To Do our Section 1 */

.hotels-1{
    display: flex;
    justify-content: space-around;
    margin-bottom: -5%;
}
.hotels-1 h4{
    font-size: 18px;
}
.row{
    flex: 1;
    margin-top: 2%;
}
.col-left{
    align-self: flex-start;
    padding-left: 40px;
}
.col-left ul li {
    margin-bottom: 10px;
}
.col-right {
    text-align: left;
    padding-right: 25px;
    margin-left: -60%;
}

/* Mobile Responsive for Our Hotels and Things To Do */

@media (max-width:700px){
    .sub-header{
        min-height: 45vh;
    }
    .hotels-1 {
        flex-direction: column; 
        align-items: center; 
    }

    .col-left {
        padding: 0; 
        text-align: center; 
    }

    .col-right {
        text-align: left;
        margin-left: 0;
        padding: 0 10px; 
    }
    .col-right p{
        text-align: left;
        margin-right: 4px;
        justify-content: center;
    }

}

/* Our Hotel Page Photos and Table */
.table-header{
    padding-bottom: 50px;
    text-align:center;
    color: #154360;
    font-family: sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
}
.hotel {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.Sigiriya{
    background: #EAEDED;
}
.row-test{
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
}
.hotel-col{
    flex-basis: 48%;
    padding: 25px 2px;
    margin-right: 2%;
}
.hotel-col img{
    width: 75%;
    padding-left: 120px;
}
.hotel-col h1{
    padding-top: 0;
    font-size: 30px;
    text-align: center;
}
.hotel-col p{
    padding-right: 15px;
    text-align: left;
}

.tab-1{
    border-collapse: collapse;
    width: 60%;
    margin: 0 auto;
}
.tab-1 th, .tab-1 td {
    border: 1px solid darkslategray; 
    padding: 8px;
    text-align: left;
    margin: auto;
    font-weight: 300;
}
.tab-1 th {
    text-align: center;
}

/* Mobile Responsive for Photos */

@media (max-width:700px) {
    .hotel-col {
        flex-basis: 100%; 
        padding: 15px 8px;
    }

    .hotel-col img {
        width: 100%; 
        padding-left: 3px;
        flex-direction: row;
    }
     
    .hotel-col h1 {
        font-size: 24px;
    } 

    .hotel-col p:last-child {
        margin-bottom: 20px; 
    }
}

/* Mobile Responsive Table */

@media (max-width:700px){
    .tab-1 {
        width: 90%; 
        height: auto;
        max-width: 100%;
        overflow-x: auto;
    }
    .tab-1 th,
    .tab-1 td {
        padding: 2px; 
        font-size: 10px; 
    }
    .tab-1 iframe{
        width: 100%;
        height: auto;
    }
}

/* Things To Do - Section 2 - Photos  */

.home-things ul{
    padding-left: 47%;
}
.home-things ul li{
    margin: auto;
    padding: 3px 0;
}
.home-things {
    width: 80%;
    margin: auto;
    padding-top: 20px;
}

.home-things h1 {
    margin-top: 5%;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
    
}

.things-col {
    flex-basis: calc(50% - 10px); /* 50% minus margin */
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.things-col img {
    width: 90%;
    border-radius: 10px;
}

.things-col h3 {
    margin-top: 16px;
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    color: #154360;

}

/* Mobile Responsive for Things To Do Page */



/* This is for the Restaurant HTML page */

.intro{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 17px;
}
.res-things {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.res-things img{
    border-radius: 10px;
}
.res-link{
    background-color: #EAEDED;
    text-align: center;
    font-size: 17px;
    padding: 20px;
    word-spacing: 2px;
}
.res-link a{
    color:white;
    text-decoration: underline;
}
.res-things a{
    color:#BA4A00;
    text-decoration: underline;
}
.h-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: #BA4A00 ;
    position: relative;
    cursor: pointer;
}
.h-btn:hover{
    border: 1px solid black;
    background: black;
    transition: 0.8s;
}



/* Mobile Responsive for Restaurant Page */

@media (max-width: 700px) {
    .intro,
    .res-things {
        width: 90%;
        text-align: center;
    }
    .intro p{
        text-align: left;
    }
    .res-things img {
        max-width: 100%; 
    }

    .res-link {
        font-size: 14px;
    }

    .row {
        display: block; 
        margin-top: 10px; 
    }

    .res-col {
        margin-bottom: 20px;
    }
    .res-col h3{
        text-align: center;
    }
    .h-btn {
        width: 20%;
        padding: 10px;
    }
    .things-col iframe{
        width: 100%;
        height: auto;
    }
}



/* Booking HTML - Regulations */

.booking-main{
    background: #EAEDED;
    width: 70%;
    margin: auto;
}
.booking-main p{
    text-align: center;
}
.para{
    text-align: center;
    margin-top: -4.5%;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 400;
    margin-bottom: 5%;
    font-family: sans-serif;
}
.para a{
    color: #BA4A00;
}
.booking-main ul li{
    margin: 7px 0;
    list-style-type: disc;
}
.booking-main ul{
    padding-left: 20%;
    margin-top: -5vh;
    padding-bottom: 13px;
}

/* booking HTML forms */

.container{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.video4 {
    flex: 1;
    padding: 20px;
    border-radius: 8px;
    margin-right: 20px;
    margin-left: 30px;
    margin-top: 10%;
}
.form{
    flex: 1;
    padding: 10px;
    background: #EAEDED;
    border-radius: 8px;
    margin-right: 10%;
    margin-bottom: 5%;
}
legend{
    color: #BA4A00;
}
fieldset{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}
label{
    margin-bottom: 5px;
}
input,select{
    padding: 8px;
}
.her-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: #BA4A00 ;
    position: relative;
    cursor: pointer;
}
.her-btn:hover{
    border: 1px solid black;
    background: black;
    transition: 0.8s;
}
.he-btn{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 12px 34px;
    font-size: 13px;
    background: white ;
    position:relative;
    cursor: pointer;
    width: 20%;
    margin-left: 80%;
}
.he-btn:hover{
    border: 1px solid black;
    background: black;
    transition: 0.8s;
    color: #fff;
}
h5{
    text-align: center;
    font-size: 20px;
}

/* Mobile view for Booking HTML */

@media (max-width: 700px) {
    .booking-main {
        width: 90%;
    }

    .booking-main p {
        text-align: left;
    }

    .para {
        text-align: left;
        margin-top: -10%;
        margin-left: 15px;
        margin-right: 15px;
        font-weight: 400;
        margin-bottom: 5%;
        font-family: sans-serif;
    }

    .para a {
        color: #BA4A00;
    }

    .booking-main ul li {
        margin: 7px 0;
        list-style-type: disc;
    }

    .booking-main ul {
        padding-left: 20px;
        margin-top: -5vh;
        padding-bottom: 13px;
    }

    .container {
        flex-direction: column;
        padding: 10px;
    }
    .video4 video {
        width: 100%; 
        height: auto; 
        max-width: 100%; 
        max-height: 350px; 
    }

    .form {
        align-items: center;
        margin-right: 0;
    }

    legend {
        text-align: center;
    }

    fieldset {
        border-radius: 0;
    }

    input,
    select,
    textarea {
        width: 95%;
    }

    .her-btn,
    .he-btn {
        width: 100%;
        margin-left: 0;
    }
}


